@model IEnumerable<RPM_Tool.Models.ScheduledMaintenance>

@{
    ViewData["Title"] = "ScheduledMaintenanceByBuilding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Scheduled Maintenance</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduledMaintenanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduledMaintenanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduledMaintenanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
