@model RPM_Tool.Models.Building

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IDictionary<string, string> routeData = new Dictionary<string, string>();
    routeData.Add("buildingId", Model.BuildingId.ToString());
}

<h1>Details</h1>

<p>
    <a asp-action="Create" asp-controller="Units" asp-all-route-data="routeData">Create New Unit</a>
</p>
<div>
    <h4>Building</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddScheduledMaintenanceItem" asp-route-id="@Model.BuildingId">Add Maintenance Item</a> 
</div>
<h1>Units</h1>
<div>Unit # / Rent Amount</div>
@foreach (var item in ViewData["Units"] as List<Unit>) 
{
    <p>
        @item.Id @item.RentAmount
    </p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.BuildingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
